* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 0px;
  font-family: sans-serif;
}

#root{
  border: 1px solid whitesmoke;
  border-radius: 20px;
}

header{
  padding:5px;
  display: flex;
  justify-content:center;
  background-color:rgb(246, 103, 103);
  align-items:center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
}

header img {
      filter: invert(1);
}

section {
  padding: 20px;
}
.travel--card{
  display: flex;
  padding-bottom: 10px;
}

.travel--card--image-div {
 
  padding: 10px;
}

.travel--card-image {
  width: 100px;
  height: auto;
  border-radius: 15px;
}

.travel--card--content{
  padding: 10px;
}

.travel--card--location{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #a7a7a7;
 
}

.travel--card--location > h6 {
  text-transform: uppercase;
  font-variant-caps: all-petite-caps;
  font-size: 14px;
  margin:0px;
}

.travel--card--location > a{
  font-size: 10px;
  border-bottom: 1px solid #f2f2f2;
  margin: 0px 10px;
}

.travel--card--location> img {
  width:12px;
  height:12px;
}

.travel--card--title{
  margin-top: 2px;
  margin-bottom: 5px;
  color: rgb(35, 35, 35);
}
.travel--card--dates {
  margin-bottom: 3px;
  margin-top:3px;
  font-size: 12px;
  text-align: justify;
}

.travel--card--desc{
  margin-top: 0px;
  font-size:12px;
  color:#a7a7a7;
}